.card-qr {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
}

.qr-login {
  font-size: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, seri;
  color: black;
  position: absolute;
  bottom: 79%;
  left: 150px;
}
